// $blue: #7ca5f8;

$purple: #9b51e0;
// $red: hsl(10, 85%, 64%);
// $green: hsl(161, 54%, 61%);
// $yellow: hsl(65, 83%, 77%);
// $red: hsla(0, 100%, 65%, 0.9);
// $blue: hsla(205, 100%, 50%, 0.9);
// $green: hsla(143, 73%, 43%, 0.9);
// $yellow: hsla(45, 100%, 58%, 0.9);
$red: hsla(0, 80%, 65%, 1);
$blue: hsla(205, 70%, 50%, 1);
$green: hsla(143, 70%, 43%, 1);
$yellow: hsla(45, 75%, 58%, 1);

$txt-secondary: hsl(210, 17%, 80%);
$txt-primary: hsl(0, 0%, 82%);
$background: #030507;
$none: #ffffff00;
