@use "../variables/colors.scss" as *;
/* Default animation styles */

@media (min-width: 992px) {
  /* Default animation styles */

  .im,
  .and,
  .make,
  .websites,
  .period {
    color: $txt-secondary;
  }

  .im,
  .and,
  .i,
  .make,
  .period {
    animation: fadeIn ease forwards;
    animation-iteration-count: 1;
    opacity: 0;
    animation-delay: 2s;
  }

  .ethan,
  .letourneau,
  .websites {
    animation: fadeIn ease forwards;
    animation-iteration-count: 1;
    opacity: 0;
  }

  .im {
    animation-duration: 7s;
  }

  .ethan {
    animation-duration: 2s;
  }

  .letourneau {
    animation-duration: 2s;
  }

  .and {
    animation-duration: 7s;
  }

  .i {
    animation-duration: 7s;
  }

  .make {
    animation-duration: 7s;
  }

  .period {
    animation-duration: 7s;
  }

  .websites {
    animation-duration: 2s;
  }

  .slide-up {
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .slide-up.slow {
    animation: slide-up 3s ease-in-out forwards;
    animation-delay: 2s;
  }

  .slide-up.medium {
    animation: slide-up 3s ease-in-out forwards;
    animation-delay: 1.5s;
  }

  .slide-up.fast {
    animation: slide-up 3s ease-in-out forwards;
    animation-delay: 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
